
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: serif;
    color: #F26A8D;
}

.main h1 {
    margin: 20px 0;
}


.create {
    width: 500px;
    border: #F26A8D 2px solid;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}

.create h2 {
    margin-bottom: 20px;
    color: #F26A8D;
}

.create input,
.create textarea {
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    border: 2px solid #F26A8D;
    border-radius: 5px;
    font-family: serif;
    padding: 5px 10px;
    font-size: 16px;
}

.create textarea {
    min-width: 100%;
    max-width: 100%;
}

.create .task_description {
    height: 80px;
}

.createButton {
    background-color: #F26A8D;
    color: white;
    font-family: serif;
    font-size: 16px;
    padding: 10px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.createButton:hover {
    border: 2px solid #F26A8D;
    background-color: white;
    color: #F26A8D;
}

.searching {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.searching label {
    margin-right: 10px;
}

.searching input {
    height: 40px;
    border: 2px solid #F26A8D;
    border-radius: 30px;
    font-family: serif;
    padding: 5px 10px;
    font-size: 16px;
}

.task {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    min-height: 50px;
    background-color: #F26A8D;
    color: white;
    margin-bottom: 10px;
    padding: 0 10px;
    border-radius: 10px;
}

.task input {
    margin: 5px;
}

.task p {
    width: 453px;
}

.trashIcon {
    margin: 5px;

}

.task .button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: underline;
    color: currentColor;
}


.task .button:hover {
    background-color: white;
    color: #F26A8D;
}

.strikeThrough {
    text-decoration: line-through;
}